"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" !! BASE VIM SETTINGS
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""

set hidden      " Allow navigating to buffers without saving
set rnu         " Set relative numbering
set nu          " Set numbering
set ruler       " Show line numbering
set number      " Ensure we see line numbers
set tabstop=2
set shiftwidth=2
set showcmd         " Show (partial) command in status line.
set showmatch           " Show matching brackets.
set ignorecase  " Do case insensitive matching
set smartcase           " Do smart case matching
set incsearch           " Incremental search
set hlsearch    " Highlight after search finished
"set smartindent " Auto detect indenting
set expandtab   " Make tab spaces
set cursorline  " Highligh the line the cursor is on
set hidden          " Hide buffers when they are abandoned
set mouse=""            " Disable the mouse
set mousetime=1 " double click problem
set backupdir=~/.tmp " Save swp and tmp files to a different place
set directory=~/.tmp " Save swp and tmp files to a different place


" Ideavimrc settings
set commentary

" IDEA VIM ACTION LIST
" https://gist.github.com/zchee/9c78f91cc5ad771c1f5d
" https://towardsdatascience.com/the-essential-ideavim-remaps-291d4cd3971b"

"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" !! KEY REMAPPING
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" Unite
" Stop mistakingly causing text to lowercase
nnoremap q: <Nop>
"nnoremap Vu <Nop>
vnoremap u <Nop>
nmap <C-p> :action NextTab<CR>
nmap <C-n> :action PreviousTab<CR>
nmap <C-k> :action RecentFiles<CR>

" JJ
:imap jj <Esc>
:cmap jj <Esc>

" !! LEADER REMAPS
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
let mapleader = " "
" Reassign macro key
nnoremap <Leader>z q<CR>
nnoremap q <Nop>
" Remap exit
noremap <Leader>q :q<CR>
" Remap cancel highlight
nnoremap <Leader>8 :noh<CR>
" Remap save
nnoremap <Leader>f :w<CR>
" Remap paste from + buffer
nnoremap <Leader>= "+gP
" Remap copy one line to system buffer
nnoremap <Leader>cc V"+yyv <CR>
vnoremap <Leader>cc "+yyv <CR>
" Search for highlighted text in dir
vnoremap <Leader>cs "0y :Ack! <C-r>0
" Replace highlighted text buffer global
vnoremap <Leader>r "0y :%s/<C-r>0
nnoremap g; ".

function! Sym()
  :action ActivateStructureToolWindow
endfunction
command! Sym :call Sym()

function! Exm()
  :action ExtractMethod
endfunction
command! Exm :call Exm()
nnoremap <Leader>k  :action FindInPath<CR>
nnoremap <Leader>nf :action SelectInProjectView<CR>
nnoremap <Leader>rn :action RenameElement<CR>
nnoremap <Leader>gt :action GotoTest<CR>
nnoremap <Leader>lf :action ReformatCode<CR>
nnoremap <leader>gi :action OptimizeImports<CR>
nnoremap <Leader>t  :action ContextRun<CR>
nnoremap <leader>cl  :action ShowIntentionActions<CR>
